:root {
    /* 
      --fs-quotes-tablet:;
      --fs-quotes-portatil:;
      --fs-quotes-portatilL:;
  
      --fs-languagesTitle-tablet:;
      --fs-languagesTitle-portatil:;
      --fs-languagesTitle-portatilL:;
  
      --fs-projectsTitle-tablet:;
      --fs-projectsTitle-portatil:;
      --fs-projectsTitle-portatilL:;
  
      --fs-projectsLanguages-mobile:;
      --fs-projectsLanguages-tablet:;
      --fs-projectsLanguages-portatil:;
      --fs-projectsLanguages-portatilL:;
  
      --padding-tablet:;
      --padding-portatil:;
      --padding-portatilL:;
     
      --dm-clr-title:;
  
      --dm-clr-paragraph:;
  
      --dm-clr-border:;
  
      --dm-bg-body:;
      --dm-bg-header:;
  
      --dm-bg-link:;
      
      --lm-bg-about:;
      --dm-bg-about:; */
    --fs-title-mobile: 64px;
    --fs-title-tablet: 84px;
    --fs-title-portatilL: 124px;

    --fs-subtitle-mobile: 24px;
    --fs-subtitle-tablet: 29px;
    --fs-subtitle-portatilL: 34px;
  
    --fs-paragraph-mobile: 16px;
    --fs-paragraph-tablet: 18px;
    --fs-paragraph-portatilL: 20px;

    --fs-quotes-mobile: 14px;
    --fs-quotes-tablet: 16px;
    --fs-quotes-portatilL: 18px;

    --fs-projectsTitle-mobile: 50px;
    --fs-projectsTitle-tablet: 60px;
    --fs-projectsTitle-portatilL: 80px;

    --fs-contactTitle-mobile:50px;
    --fs-contactTitle-tablet:60px;
    --fs-contactTitle-portatilL:80px;

    --padding-mobile: 0 15px;
    --padding-tablet: 0 35px;

    --ff-title: "Anton", sans-serif;
    --ff-paragraph: "Roboto", sans-serif;
    --lm-clr-title: #08081b;
    --lm-clr-paragraph: #05051c;
    --lm-clr-border: #121212;
    --lm-clr-link: #f5f5f5;
    --lm-bg-body: #fdfbf1;
    --lm-bg-header: #fff;
    --lm-bg-link: #20204d;
    --lm-bg-linkHover: #393989;
    --lm-bg-boxs:#fff825;
    --lm-bg-boxs:#fdd159;

    --white:#fff;
    /* --dm-clr-title:;
    --dm-clr-paragraph:;
    --dm-clr-border:;
    --dm-clr-link:;
    --dm-bg-body:;
    --dm-bg-header:;
    --dm-bg-link:; */
  }
  
  @media screen and (prefers-color-scheme: dark) {
    :root {
      --clr-title:var(--dm-clr-title);
      --clr-paragraph:var(--dm-clr-paragraph);
      --clr-border:var(--dm-clr-border);
      --clr-link:var(--dm-clr-link);
      --bg-body:var(--dm-bg-body);
      --bg-header:var(--dm-bg-header);
      --bg-link:var(--dm-bg-link);
      --bg-linkHover:var(--dm-bg-linkHover);
      --bg-boxs:var(--dm-bg-boxs);
    }
  }
  
  @media screen and (prefers-color-scheme: light) {
    :root {
      --clr-title:var(--lm-clr-title);
      --clr-paragraph:var(--lm-clr-paragraph);
      --clr-border:var(--lm-clr-border);
      --clr-link:var(--lm-clr-link);
      --bg-body:var(--lm-bg-body);
      --bg-header:var(--lm-bg-header);
      --bg-link:var(--lm-bg-link);
      --bg-linkHover:var(--lm-bg-linkHover);
      --bg-boxs:var(--lm-bg-boxs);
    }
  }
  
  .whiteMode {
    --clr-title:var(--lm-clr-title);
    --clr-paragraph:var(--lm-clr-paragraph);
    --clr-border:var(--lm-clr-border);
    --clr-link:var(--lm-clr-link);
    --bg-body:var(--lm-bg-body);
    --bg-header:var(--lm-bg-header);
    --bg-link:var(--lm-bg-link);
    --bg-linkHover:var(--lm-bg-linkHover);
    --bg-boxs:var(--lm-bg-boxs);
  }
  
  .darkMode {
    --clr-title:var(--dm-clr-title);
    --clr-paragraph:var(--dm-clr-paragraph);
    --clr-border:var(--dm-clr-border);
    --clr-link:var(--dm-clr-link);
    --bg-body:var(--dm-bg-body);
    --bg-header:var(--dm-bg-header);
    --bg-link:var(--dm-bg-link);
    --bg-linkHover:var(--dm-bg-linkHover);
    --bg-boxs:var(--dm-bg-boxs);
  }
  
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-size: var(--fs-paragraph-mobile);
    font-family: var(--ff-paragraph);
    background-color: var(--lm-bg-body);
    /* background-color: #5594e3; */
    /* background-image:url(../../image/bg.svg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
  }

  body::-webkit-scrollbar {
    width: 5px;
  }

  body::-webkit-scrollbar-track {
    background-color: transparent;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--lm-bg-link);
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--ff-title);
  }
  
  .subtitle {
    position: relative;
    display: inline-block;
    margin-top: 0;
    padding: 10px 15px;
    border: 3px solid var(--lm-clr-border);
    font-size: var(--fs-subtitle-mobile);
  }
  
  .subtitle::after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: calc(100vw - 33px);
    height: 3px;
    background-color: var(--lm-clr-border);
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .paragraph {
    line-height: 1.5;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    background-color: transparent;
    border-bottom: 3px solid var(--lm-clr-border);
    transition: .5s background-color;
  }
  
  .header.addColor {
    background-color: var(--lm-bg-header);
  }

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-mobile);
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .headerLink {
    display: flex;
    font-size: 32px;
    font-family: var(--ff-title);
    text-decoration: none;
    color: var(--lm-clr-title);
    transition: transform .2s;
    transform: rotate(0);
    display: inline-block;
  }

  .headerLink__span {
    display: inline-block;
    transition: margin-right .2s;
  }

  .headerLink:hover {
    transform: rotate(5deg);
  }

  .headerLink:hover .headerLink__span {
    margin-right: 5px;
  }
  
  .menuOpen {
    display: block;
    position: absolute;
    top: 0;
    transform: translateY(-300px);
    overflow: hidden;
    left: 0;
    width: 100%;
    background-color: var(--lm-bg-header);
    transition: transform .5s ;
  }
  
  .menuOpen.active {
    top: 58px;
    transform: translateY(0);
  }
  
  .menuOpenList {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }
  
  .menuOpenList__item {
    border-bottom: 3px solid var(--lm-clr-border);
  }

  .menuOpenList__item--first {
    border-top: 3px solid var(--lm-clr-border);
  }
  
  .menuOpenList__link {
    display: block;
    padding: 15px 0;
    padding-left: 15px;
    text-decoration: none;
    color: var(--lm-clr-paragraph);
  }
  
  .menuOpenCv {
    border-bottom: 3px solid var(--lm-clr-border);
    background-color: var(--lm-bg-boxs);
  }

  .menuOpenCv__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    text-decoration: none;
    background-color: #fff825;
  }

  .menuOpenCv__span {
    color: var(--lm-clr-paragraph);
  }

  .nav {
    display: none;
  }
  
  .darkMode {
    display: none;
  }
  
  .main {
    padding: var(--padding-mobile);
    display: flex;
    flex-direction: column;
    /* gap: 75px; */
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .heroContent {
    margin-bottom: 30px;
  }
  
  .heroContent__title {
    font-size: var(--fs-title-mobile);
    margin: 25px 0;
  }

  .heroContent__titleSpan {
    display: inline-block;
    max-width: max-content;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(20) infinite alternate,
      blink .8s steps(20) infinite normal;
    border-right: 5px solid #000;
  }

  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    from {
      border-color: #000;
    }
    to {
      border-color: transparent;
    }
  }

  .heroContent__paragraph {
    font-size: var(--fs-paragraph-mobile);
  }
  
  .heroContent__span {
    color: red;
  }
  
  .heroContent__blockquote {
    margin: 0;
  }
  
  .heroContent__blockquoteParagraph {
    font-size: var(--fs-quotes-mobile);
  }

  .heroImg {
    position: relative;
    height: 300px;
  }

  .heroImgCv__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid var(--lm-clr-border);
  } 
  
  .about {
    padding-top: 75px;
  }
  
 .aboutContainerInfo {
    border: 3px solid var(--lm-clr-border);
  }

  .aboutContainerInfoTitlesContainer {
    border-bottom: 3px solid var(--lm-clr-border);
  }

  .aboutContainerInfoTitles__span {
    display: block;
    text-align: center;
    padding: 15px 0;
    border-bottom: 3px solid var(--lm-clr-border);
    font-weight: bold;
  }

  .aboutContainerInfoSubtitles {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .aboutContainerInfoSubtitles::after {
    position: absolute;
    content: "";
    left: 50%;
    width: 3px;
    height: 100%;
    background-color: var(--lm-clr-border);
  }

  .aboutContainerInfoSubtitles__span {
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    text-decoration: none;
    color: var(--lm-clr-paragraph);
  }

  .aboutContainerInfoContent {
    padding: 0 15px;
  }

  .aboutContainerInfoContent__arrow {
    display: inline-block;
    transform: rotate(180deg);
  }

  .aboutContainerInfoContent__span {
    display: block;
    font-weight: bold;
  }

  .aboutContainerInfoContentList {
    padding-left: 15px;
  }

  .aboutContainerInfoContentList__item {
    margin-bottom: 5px;
  }

  .aboutContainerLinks {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 3px solid var(--lm-clr-border);
  }

  .aboutContainerLinks::after {
    position: absolute;
    content: "";
    left: 50%;
    width: 3px;
    height: 100%;
    background-color: var(--lm-clr-border);
  }

  .aboutContainerLinks__link {
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    color: var(--lm-clr-paragraph);
    font-weight: bold;
    transition: .5s color , .5s background-color;
  }

  .aboutContainer {
    display: none;
  }

  .skills {
    padding-top: 75px;
  }
  
  .skillContainers {
    border: 3px solid var(--lm-clr-border);
  }
  
  .skillContainer__span {
    display: block;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid var(--lm-clr-border);
  }
  
  .skillContainer__span--border {
    border-top: 3px solid var(--lm-clr-border);
  }

  .skillContainerBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .skillContainerBox__img {
    width: 50px;
    height: 50px;
  }
  
  .skillContainerBoxs {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap:25px;
    text-align: center;
    padding: 25px 0;
  }

  .skillContainerBox__img {
    margin: 0 auto;
  }
  
  .skillContainerBox__span {
    display: block;
  }

  .projects {
    padding-top: 75px;
  }

  .projectContainer {
    display: grid;
    gap: 30px;
  }
  
  .project {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 3px solid var(--lm-clr-border);
  }
  
  .project::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(100% - 7px);
    width: 7px;
    height: 100%;
    background-color: var(--lm-clr-border);
  }
  
  .projectContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
  
  .projectContent__span {
    display: block;
    font-size: var(--fs-projectsTitle-mobile);
    font-family: var(--ff-title);
    padding: 0 15px;
  }

  .projectContent__paragraph {
    padding: 0 15px;
    margin: 0;
  }
  
  .projectContentLanguages {
    display: flex;
    gap: 5px;
    padding: 0 15px;
  }

  .projectContentLanguages__img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  .projectContent__link {
    margin-left: 15px;
    align-self: flex-start;
    padding: 15px 35px;
    text-decoration: none;
    color: var(--lm-clr-link);
    background-color: var(--lm-bg-link);
    border: 3px solid var(--lm-clr-border);
    transition: .5s background-color;
  }

  .projectImg {
    position: relative;
    height: 300px;
    overflow: hidden;
  }

  .projectImgText {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: auto;
    background-color:transparent;
    opacity: 0;
    color: var(--lm-clr-border);
    border-top: 3px solid var(--lm-clr-border);
    border-left: 3px solid var(--lm-clr-border);
    transition: .5s opacity , .5s background-color , .5s color;
  }

  .projectImgText.active {
    opacity: 1;
    background-color: var(--lm-bg-link);
    color: var(--white);
  }

  .projectImg__img.active {
    transform: scale(1.15);
  }

  .projectImg__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 3px solid var(--lm-clr-border);
    transition: transform .5s ease ;
  }

  /* .projects__more {
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px 35px;
    border: 3px solid var(--lm-clr-border);
    color: var(--lm-clr-link);
    text-decoration: none;
    background-color: var(--lm-bg-link);
    transition: .5s background-color;
    align-self: flex-end;
    justify-self: flex-end;
  } */

  .contact {
    padding-top: 75px;
  }
  
  .contactContainer {
    position: relative;
    display: grid;
    gap: 30px;
    border: 3px solid var(--lm-clr-border);
    padding: 25px 15px;
  }
  
  .contactContainer::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(100% - 7px);
    width: 7px;
    height: 100%;
    background-color: var(--lm-clr-border);
  }
  
  .contactContainerContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contactContainerContent__title {
    font-size: var(--fs-contactTitle-mobile);
    margin: 0;
  }

  .contactContainerContent__paragraph {
    margin: 0;
  }
  
  .contactContainerContentLinks {
    display: flex;
    gap: 5px;
  }
  
  .contactContainerContentLinks__link {
    min-width: 122px;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    color: var(--lm-clr-link);
    background-color: var(--lm-bg-link);
    border: 3px solid var(--lm-clr-border);
    transition: .5s background-color;
  }
  
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--lm-clr-border);
  }
  
  .input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-bottom: 3px solid var(--lm-clr-border);
    outline: none;
  }
  
  .textarea {
    width: 100%;
    height: 230px;
    padding: 10px 15px;
    border: none;
    outline: none;
    resize: vertical;
  }
  
  .form__send {
    position: absolute;
    bottom: 0;
    display: inline-block;
    align-self: flex-end;
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
    border-top: 3px solid var(--lm-clr-border);
    border-left: 3px solid var(--lm-clr-border);
    color: var(--lm-clr-link);
    background-color: var(--lm-bg-link);
    transition: .5s background-color;
  }
  
  .footer {
    margin: 20px 0;
    margin-top: 75px;
  }

  .footerContainerBox {
    max-width: 1440px;
    display: grid;
    gap: 20px;
    padding: var(--padding-mobile);
    margin: 0 auto;
  }
  
  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footerContainerDarkMode__img {
    width: 35px;
    height: 35px;
    object-fit: cover;
  }

  .footerCopyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--lm-clr-border);
  }
  
  .footerCopyright__span {
    display: block;
    padding: 0 10px;
    font-size: 14px;
 }

  .footerCopyrightArrowLink {
    border-left: 3px solid var(--lm-clr-border);
    transition: .5s background-color;
  }

  .footerCopyrightArrowLink:hover {
    background-color: var(--lm-bg-link);
  }

  .footerCopyrightArrowLink__img {
    display: block;
    transition: .5s fill;
  }

  @media screen and (min-width:768px) {

    body {
      font-size: var(--fs-paragraph-tablet);
    }

    .subtitle {
      padding: 10px 35px;
      font-size: var(--fs-subtitle-tablet);
    }

    .subtitle::after {
      width: calc(100vw - 73px);
    }

    .headerContainer {
      padding: var(--padding-tablet);
    }

    .menuOpen.active {
      top: 48px;
    }

    .menuOpenList__link {
      padding: 15px 0;
      padding-left: 35px;
    }
    
    .menuOpenCv__link {
      padding: 0 35px;
      height: 50.69px;
    }

    .main {
      padding: var(--padding-tablet);
    }

    .hero {
      gap: 25px;
    }

    .heroContent__title {
      font-size: var(--fs-title-tablet);
    }

    .heroContent__paragraph {
      font-size: var(--fs-paragraph-tablet);
    }

    .heroContent__blockquoteParagraph {
      font-size: var(--fs-quotes-tablet);
    }

    .about {
      padding-top: 100px;
    }

    .aboutContainerInfoContent {
      padding: 0 25px;
    }

    .skills {
      padding-top: 100px;
    }

    .skillContainers {
      position: relative;
      display: grid;
      grid-template-columns: 50% 50%;
    }

    .skillContainers::after {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 3px;
      height: 100%;
      background-color: var(--lm-clr-border);
    }

    .skillContainer__span--border {
      border-top: none
    }

    .projects {
      padding-top: 100px;
    }

    .projectContainer {
      gap: 35px;
    } 

    .project {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    .project--second {
      grid-template-areas: 
      "projectImg--second projectContent--second";
    }

    .projectImg {
      height: 379.39px;
    }

    .projectContent__span {
      font-size: var(--fs-projectsTitle-tablet);
      padding: 0 25px;
    }

    .projectContentLanguages {
      padding: 0 25px;
    }
    
    .projectContent__link {
      margin-left: 25px;
    }

    .projectImg--second {
      grid-area: projectImg--second;
    }

    .projectContent--second {
      grid-area: projectContent--second;
    }

    .projectImg__img {
      border-left: 3px solid var(--lm-clr-border);
      border-top: none;
    }

    .projectImg__img--second {
      border-left: none;
      border-right: 3px solid var(--lm-clr-border);
    }

    .contact {
      padding-top: 100px;
    }

    .contactContainer {
      grid-template-columns: 1fr 1fr;
      padding: 25px 25px;
    }

    .contactContainerContent__title {
      font-size: var(--fs-contactTitle-tablet);
    }

    .footerContainerBox {
      padding: var(--padding-tablet);
    }

    .footerCopyright__span {
      font-size: 16px;
    }

  }

  @media screen and (min-width:1024px) {

    .subtitle::after {
      width: calc(100vw - 78px);
    }

    .menuOpen.remove {
      display: none;
    }

    .menuOpen {
      display: none;
    }

    .hamburger {
      display: none;
    }

    .navContainer {
      display: flex;
      align-items: center;
      gap: 100px;
    }

    .nav {
      display: block;
    }

    .navList {
      display: flex;
      list-style: none;
      gap: 30px;
    }

    .navList__item {
      overflow: hidden;
    }
    
    .navList__link {
      position: relative;
      color: var(--lm-clr-paragraph);
      text-decoration: none;
    }

    .navList__link::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translate(0, -50%);
      left: calc(-100% - 30px);
      width: 100%;
      height:3px;
      background-color: var(--lm-clr-border);
      opacity: 0;
      overflow: hidden;
      transition: opacity .5s , left .5s;
    }

    .darkMode {
      display: block;
    }

    .hero {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 25px;
    }

    .heroContent__paragraph {
      width: 80%;
    }

    .heroContent__blockquote {
      width: 80%;
    }

    .aboutBox {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: "aboutContainer aboutContainerInfo";
      border: 3px solid var(--lm-clr-border);
    }

    .aboutContainer {
      display: block;
      grid-area: aboutContainer;
    }

    .aboutContainerImg {
      display: grid;
      grid-template-rows: auto 53.69px;
      height: 100%;
    }

    .aboutContainerImg__img {
      height: 100%;
      object-fit: cover;
    }

    .aboutContainerCv {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 15px 0;
      text-align: center;
      border-top: 3px solid var(--lm-clr-border);
      font-weight: bold;
      text-decoration: none;
      color: var(--lm-clr-paragraph);
      background-color: var(--lm-bg-boxs);
    }

    .aboutContainerCv__span {
      display: block;
      color: var(--lm-clr-paragraph);
      font-weight: bold;
    }

    .aboutContainerCv__img {
      display: block;
    }

    .aboutContainerInfo {
      grid-area: aboutContainerInfo;
      border-top: none;
      border-right: none;
      border-bottom: none;
    }

    .projectContainer {
      gap: 50px;
    } 

    .projectImg {
      height: 500px;
    }

    .contactContainer {
      height: 500px;
    }

    .textarea {
      height: 356.61px;
    }

    .contactContainerContent {
      justify-content: center;
    }

  }

  @media screen and (min-width:1440px){

    body {
      font-size: var(--fs-paragraph-portatilL);
    }

    .subtitle {
      padding: 10px 35px;
      font-size: var(--fs-subtitle-portatilL);
    }

    .subtitle::after {
      width: calc(1440px - 73px);
    }

    .navContainer {
      gap: 150px;
    }

    .navList {
      gap: 40px;
    }
    
    .heroContent__title {
      font-size: var(--fs-title-portatilL);
    }

    .heroContent__paragraph {
      font-size: var(--fs-paragraph-portatilL);
    }

    .heroContent__blockquoteParagraph {
      font-size: var(--fs-quotes-portatilL);
    }

    .aboutContainerImg {
      grid-template-rows: auto 56.69px;
    }

    .skillContainers {
      height: 600px;
    }

    .projectContent__span {
      font-size: var(--fs-projectsTitle-portatilL);
    }

    .projectImg {
      height: 600px;
    }

    .contactContainer {
      height: 600px;
    }

    .textarea {
      height: 444px;
    }

    .contactContainerContent__title {
      font-size: var(--fs-contactTitle-portatilL);
    }

  }

  @media screen and (hover: hover) {

    .navList__item:hover .navList__link::after{
      width: 100%;
      left: 0;
      opacity: 1;
    }

    .aboutContainerLinks__link:hover {
      color: var(--white);
      background-color: var(--lm-bg-link);
    }
    
    .projectImg:hover .projectImg__img {
      transform: scale(1.15);
    }

    .projectImg:hover .projectImgText{
      opacity: 1;
      color: var(--white);
      background-color: var(--lm-bg-link);
    }

    .projectContent__link:hover {
      background-color: var(--lm-bg-linkHover);
    }

    .contactContainerContentLinks__link:hover {
      background-color: var(--lm-bg-linkHover);
    }

    .form__send:hover {
      background-color: var(--lm-bg-linkHover);
    }
    
    .footerCopyrightArrowLink:hover {
      background-color: var(--lm-bg-link);
    }

    .footerCopyrightArrowLink__img:hover {
      fill: var(--white);
    }

  }

  /* INPUT */
  /* https://codepen.io/michellebarker/pen/gOMBPQj */
  /* https://codepen.io/Toomean/pen/abarYv */
  /* #5594e3 */