:root {
    --fs-title-mobile: 3.625rem;
    --fs-title-tablet: 5.25rem;
    --fs-title-portatilL: 7rem;

    --fs-subtitle-mobile: 2.25rem;
    --fs-subtitle-tablet: 2.5rem;
    --fs-subtitle-portatil:2.75rem;
    --fs-subtitle-portatilL: 3rem;
  
    --fs-paragraph-mobile: 1rem;
    --fs-paragraph-tablet: 1.125rem;
    --fs-paragraph-portatilL: 1.375rem;

    --fs-marquee-mobile:1.375rem;
    --fs-marquee-tablet:1.625rem;
    --fs-marquee-portatilL:1.875rem;

    --fs-menuLink-mobile:2.25rem;
    --fs-menuLink-tablet:3rem;

    --fs-hero-mobile:1.125rem;
    --fs-hero-tablet:1.25rem;
    --fs-hero-portatilL:1.5rem;

    --fs-about-mobile:1.125rem;
    --fs-about-tablet:1.25rem;
    --fs-about-portatilL:1.5rem;

    --fs-skills-mobile:1.125rem;
    --fs-skills-tablet:1.25rem;
    --fs-skills-portatilL:1.5rem;

    --fs-quotes-mobile: 0.875rem;
    --fs-quotes-tablet: 1rem;
    --fs-quotes-portatilL: 1.125rem;

    --fs-projectsTitle-mobile: 3.125rem;
    --fs-projectsTitle-tablet: 3.75rem;
    --fs-projectsTitle-portatilL: 5rem;

    --fs-contactTitle-mobile:3.125rem;
    --fs-contactTitle-tablet:3.75rem;
    --fs-contactTitle-portatilL:5rem;

    --padding-mobile: 0 0.9375rem;
    --padding-tablet: 0 2.1875rem;

    --ff-title: "Anton", sans-serif;
    --ff-paragraph: "Roboto", sans-serif;

    --lm-clr-title: #0a0a1c;
    --lm-clr-paragraph: #000;
    --lm-clr-border: #0a0a1c;
    --lm-bg-bodyClass: #fff;
    --lm-bg-body:#e1e1e1;
    --lm-bg-boxs:#fff;
    --lm-bg-header: #fff;
    --lm-bg-linkHover: #c4c4c4;
    --lm-clr-linkHover:#0a0a1c;
    --lm-bg-boxsHover:#e1e1e1;
    --lm-clr-link: #f5f5f5;
    --lm-bg-link: #0a0a1c;
    --lm-clr-base:#f5f5f5;
    --lm-bg-selection:#444df77b;
    --lm-clr-marquee:#0a0a1c;
    --lm-fill-darkmode:red;

    --dm-clr-title: #f1f0ea;
    --dm-clr-paragraph:#f1f0ea;
    --dm-clr-border: #f1f0ea;
    --dm-bg-bodyClass:#151515;
    --dm-bg-body:#191919;
    --dm-bg-boxs:#151515;
    --dm-bg-boxsHover:#202020;
    --dm-bg-header: #151515;
    --dm-bg-linkHover:#181246;
    --dm-bg-linkHover:#181246;
    /* --dm-clr-linkHover:#0a0a1c; */
    --dm-clr-link:#f1f0ea ;
    --dm-bg-link:#181246;
    --dm-clr-base:#f1f0ea;
    --dm-bg-selection:#181246;
    --dm-clr-marquee:#f1f0ea;

  }
  
  @media screen and (prefers-color-scheme: dark) {
    :root {
    --clr-title: var(--dm-clr-title);
    --clr-paragraph:  var(--dm-clr-paragraph);
    --clr-border:  var(--dm-clr-border);
    --bg-bodyClass:  var(--dm-bg-bodyClass);
    --bg-body: var(--dm-bg-body);
    --bg-boxs: var(--dm-bg-boxs);
    --bg-header:  var(--dm-bg-header);
    --bg-linkHover:  var(--dm-bg-linkHover);
    --clr-linkHover: var(--dm-clr-linkHover);
    --bg-boxsHover: var(--dm-bg-boxsHover);
    --clr-link:  var(--dm-clr-link);
    --bg-link:  var(--dm-bg-link);
    --clr-base:var(--dm-clr-base);
    --bg-selection: var(--dm-bg-selection);
    --clr-marquee:var(--dm-clr-marquee);
    --fill-darkmode:var(--dm-fill-darkmode);
    }
  }
  
  @media screen and (prefers-color-scheme: light) {
    :root {
      --clr-title: var(--lm-clr-title);
      --clr-paragraph:  var(--lm-clr-paragraph);
      --clr-border:  var(--lm-clr-border);
      --bg-bodyClass:  var(--lm-bg-bodyClass);
      --bg-body: var(--lm-bg-body);
      --bg-boxs: var(--lm-bg-boxs);
      --bg-header:  var(--lm-bg-header);
      --bg-linkHover:  var(--lm-bg-linkHover);
      --clr-linkHover: var(--lm-clr-linkHover);
      --bg-boxsHover: var(--lm-bg-boxsHover);
      --clr-link:  var(--lm-clr-link);
      --bg-link:  var(--lm-bg-link);
      --clr-base:var(--lm-clr-base);
      --bg-selection: var(--lm-bg-selection);
      --clr-marquee:var(--lm-clr-marquee);
      --fill-darkmode:var(--lm-fill-darkmode);
    }
  }
  
  .whiteMode {
    --clr-title: var(--lm-clr-title);
    --clr-paragraph:  var(--lm-clr-paragraph);
    --clr-border:  var(--lm-clr-border);
    --bg-bodyClass:  var(--lm-bg-bodyClass);
    --bg-body: var(--lm-bg-body);
    --bg-boxs: var(--lm-bg-boxs);
    --bg-header:  var(--lm-bg-header);
    --bg-linkHover:  var(--lm-bg-linkHover);
    --clr-linkHover: var(--lm-clr-linkHover);
    --bg-boxsHover: var(--lm-bg-boxsHover);
    --clr-link:  var(--lm-clr-link);
    --bg-link:  var(--lm-bg-link);
    --clr-base:var(--lm-clr-base);
    --bg-selection: var(--lm-bg-selection);
    --clr-marquee:var(--lm-clr-marquee);
    --fill-darkmode:var(--lm-fill-darkmode);
  }
  
  .darkMode {
    --clr-title: var(--dm-clr-title);
    --clr-paragraph:  var(--dm-clr-paragraph);
    --clr-border:  var(--dm-clr-border);
    --bg-bodyClass:  var(--dm-bg-bodyClass);
    --bg-body: var(--dm-bg-body);
    --bg-boxs: var(--dm-bg-boxs);
    --bg-header:  var(--dm-bg-header);
    --bg-linkHover:  var(--dm-bg-linkHover);
    --clr-linkHover: var(--dm-clr-linkHover);
    --bg-boxsHover: var(--dm-bg-boxsHover);
    --clr-link:  var(--dm-clr-link);
    --bg-link:  var(--dm-bg-link);
    --clr-base:var(--dm-clr-base);
    --bg-selection: var(--dm-bg-selection);
    --clr-marquee:var(--dm-clr-marquee);
    --fill-darkmode:var(--dm-fill-darkmode);
  }
  
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  ::selection {
    background-color: var(--bg-selection);
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-size: var(--fs-paragraph-mobile);
    font-family: var(--ff-paragraph);
    background-color: var(--bg-bodyClass);
    font-display: swap;
    color: var(--clr-paragraph);
  }

  body::-webkit-scrollbar {
    width: 5px;
  }

  body::-webkit-scrollbar-track {
    background-color: transparent;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--bg-link);
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--ff-title);
    color: var(--clr-title);
  }

  .main {
    overflow: hidden;
  }

  .subtitle {
    position: relative;
    display: inline-block;
    margin-top: 0;
    padding: 0.625rem 0.9375rem;
    border: 3px solid var(--clr-border);
    border-radius: 5px;
    font-size: var(--fs-subtitle-mobile);
    /* background-color: var(--lm-bg-body); */
    /* -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--lm-clr-title);
    -webkit-text-fill-color: transparent; */
  }

  .subtitle::after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: -3px;
    width: 100%;
    width: calc(100vw - 36px);
    height: 3px;
    background-color: var(--clr-border);
    max-width: 90rem;
    margin: 0 auto;
  }
  
  .paragraph {
    line-height: 1.5;
    color: var(--clr-paragraph);
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    background-color: transparent;
    border-bottom: 3px solid var(--clr-border);
    transition: .5s background-color;
    background-color: var(--bg-body);
  }
  
  .header.addColor {
    background-color: var(--bg-header);
  }

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-mobile);
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 90rem;
    margin: 0 auto;
  }
  
  .headerLink {
    display: flex;
    font-size: 2rem;
    font-family: var(--ff-title);
    text-decoration: none;
    color: var(--clr-title);
    transition: transform .2s;
    transform: rotate(0);
    display: inline-block;
  }

  .headerLink__span {
    display: inline-block;
    transition: margin-right .2s;
  }

  .menuOpen {
    display: block;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    overflow: hidden;
    left: 0;
    width: 100%;
    background-color: var(--bg-header);
    transition: transform .5s ;
  }
  
  .menuOpen.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 4.0625rem;
    transform: translateY(0);
    height: calc(100vh - 4.0625rem) ;
    background-color: var(--bg-header);
  }

  .menuOpenList {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    padding-left: 0;
    margin: 0 0 3.125rem 0;
    list-style: none;
  }

  .menuOpenList__link {
    display: block;
    padding-left: 0.9375rem;
    font-family: var(--ff-title);
    font-size: var(--fs-menuLink-mobile);
    text-decoration: none;
    color: var(--clr-paragraph);
  }

  .menuOpenCv {
    padding: 0 0.9375rem;
    margin-bottom: 1.25rem;
  }

  .menuOpenCv__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9375rem;
    padding: 3px 0;
    border: 3px solid var(--clr-border);
    border-radius: 5px;
    font-family: var(--ff-title);
    font-size: var(--fs-menuLink-mobile);
    text-decoration: none;
    color: var(--clr-link);
    background-color: var(--bg-link);
  }

  .menuOpenCv__img {
    fill: var(--clr-link);
  }

  .menuOpenDarkMode{
    padding: 0 0.9375rem;
  }

  .menuOpenDarkMode__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9375rem;
    padding: 6px 0.9375rem;
    border: 3px solid var(--clr-border);
    border-radius: 5px;
    min-height: 3.375rem;
    font-family: var(--ff-title);
    font-size: var(--fs-menuLink-mobile);
    text-decoration: none;
    color: var(--clr-linkHover);
    background-color: var(--bg-linkHover);
  }

  .menuOpenDarkMode__img {
    fill: var(--clr-linkHover);
  }
  
  .nav {
    display: none;
  }
  
  .darkMode {
    display: none;
  }

  .heroMoveText {
    position: relative;
    top: 3.625rem;
    overflow: hidden;
    height: 100%;
    text-orientation: sideways;
  }

  .heroMoveText.remove {
    display: block;
  }

  .heroMoveText.active {
    display: none;
  }

  .heroMoveTextContainer {
    display: flex;
    gap: 1.25rem;
    height: 100%;
    margin-top: 6px;
    padding: 0.625rem 0;
	  white-space: nowrap;
    overflow: var(--value-hidden);
    background-color: var(--bg-linkHover);
    border-bottom: 3px solid var(--clr-border);
  }

  .heroMoveTextContainer__span {
    display: inline-flex;
    font-family: var(--ff-title);
    font-size: var(--fs-marquee-mobile);
    color: var(--clr-marquee);
    animation: marquee 8s linear infinite backwards;
  }

  @keyframes marquee {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0);
    }
}
  
  .main {
    padding: var(--padding-mobile);
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    margin: 0 auto;
  }

  .main.remove {
    display: block;
  }

  .main.active {
    display: none;
  }

  .hero {
    height: calc(100vh - 3.625rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .heroContainer {
    border: 3px solid var(--clr-border);
    border-radius: 5px;
    margin-top: 3.0238rem;
    background-color: var(--bg-body);
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    padding: 2.5rem 0.9375rem;
  }

  .heroContent__title {
    font-size: var(--fs-title-mobile);
    margin: 0 0;
  }

  .heroContent__paragraph {
    margin: 0;
  }

  .heroContent__titleSpan {
    display: inline-block;
    max-width: max-content;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(20) infinite alternate,
      blink .8s steps(20) infinite normal;
    border-right: 5px solid #000;
  }

  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    from {
      border-color: #000;
    }
    to {
      border-color: transparent;
    }
  }

  .heroContent__blockquote {
    margin: 0;
    font-style: italic;
  }

  .heroContent__blockquoteParagraph {
    margin: 0;
    font-size: var(--fs-quotes-mobile);
  }

  .heroContent__span {
    font-weight: bold;
    text-decoration: underline;
  }

  .heroContentLink {
    display: flex;
    gap: .75rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 3px solid var(--clr-border);
    color: var(--clr-link);
    background-color: var(--bg-link);
    width: max-content;
    padding: 9px 0.9375rem;
    transition: .5s background-color , .5s color;
    font-size: var(--fs-hero-mobile);
  }

  .heroContentLink__img {
    width: 1.875rem;
    height: 1.875rem;
    object-fit: cover;
    animation: arrowTransition infinite 2s linear;
    transform: translateX(0);
  }
  
  .heroInformation {
    display: none;
  }
  
  .about {
    padding-top: 4.6875rem;
  }

 .aboutContainerInfo {
    border: 3px solid var(--clr-border);
    border-radius: 5px;
    background-color: var(--bg-body);
  }

  .aboutContainerInfoTitlesContainer {
    border-bottom: 3px solid var(--clr-border);
  }

  .aboutContainerInfoTitles__span {
    display: block;
    text-align: center;
    padding: 0.9375rem 0;
    border-bottom: 3px solid var(--clr-border);
    font-weight: bold;
    font-size: var(--fs-about-mobile);
    background-color: var(--bg-linkHover);
  }

  .aboutContainerInfoSubtitles {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .aboutContainerInfoSubtitles::after {
    position: absolute;
    content: "";
    left: 50%;
    width: 3px;
    height: 100%;
    background-color: var(--clr-border);
  }

  .aboutContainerInfoSubtitles__span {
    text-align: center;
    padding: 0.9375rem 0;
    font-weight: bold;
    text-decoration: none;
    font-size: var(--fs-about-mobile);
    color: var(--clr-paragraph);
    transition: .5s background-color;
  }

  .aboutContainerInfoSubtitles__span--seconds {
    background-color: var(--bg-boxs);
  }

  .aboutContainerInfoSubtitles__span--seconds.active {
    background-color: transparent;
  }

  .aboutContainerInfoSubtitles__span--minutes.active {
    background-color: var(--bg-boxs);
  }

  .aboutContainerInfoContent {
    padding: 0 0.9375rem;
    max-height: 23.7712rem;
  }

  .aboutContainerInfoContent--short {
    overflow: hidden;
    overflow-y: scroll; 
    background-color: var(--bg-boxs);
  }

  .aboutContainerInfoContent--long {
    display: none;
    overflow-y: scroll; 
    background-color: transparent;
  }

  .aboutContainerInfoContent--long.active {
    display: block;
    background-color: var(--bg-boxs);
  }

  .aboutContainerInfoContent--short.active {
    display: none;
    background-color: transparent;
  }

  .aboutContainerInfoContent__arrow {
    display: inline-block;
    animation: arrowTransition infinite 2s linear;
    transform:translateX(0) ;
  }

  @keyframes arrowTransition {
    
    0% , 100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(5px);
    }

  }

  .aboutContainerInfoContent__span {
    display: block;
    font-weight: 500;
    margin-top: 0.625rem;
  }

  .aboutContainerInfoContent__paragraphSpan {
    font-weight: 500;
  }

  .aboutContainerInfoContentList {
    padding-left: 0.9375rem;
    margin-bottom: 0;
  }

  .aboutContainerInfoContentList__item {
    margin-bottom: 5px;
  }

  .aboutContainerLinks {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 3px solid var(--clr-border);
  }

  .aboutContainerLinks::after {
    position: absolute;
    content: "";
    left: 50%;
    width: 3px;
    height: 100%;
    background-color: var(--clr-border);
  }

  .aboutContainerLinksLink {
    padding: 0.9375rem 0;
    text-align: center;
    text-decoration: none;
    color: var(--clr-paragraph);
    font-weight: bold;
    transition: .5s color , .5s background-color;
    font-size: var(--fs-about-mobile);
  }

  .aboutContainerLinksLink__img {
    display: none;
  }

  .aboutContainer {
    display: none;
  }

  .skills {
    padding-top: 4.6875rem;
  }
  
  .skillContainers {
    border: 3px solid var(--clr-border);
    border-radius: 5px;
    background-color: var(--bg-body);
  }

  .skillContainer__span {
    display: block;
    padding: 0.9375rem 0;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid var(--clr-border);
    font-size: var(--fs-skills-mobile);
    background-color: var(--bg-linkHover);
  }
  
  .skillContainer__span--border {
    border-top: 3px solid var(--clr-border);
  }

  .skillContainerBox {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  .skillContainerBox__img {
    width: 3.125rem;
    height: 3.125rem;
    margin: 0 auto;
  }
  
  .skillContainerBoxs {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap:1.5625rem;
    text-align: center;
    padding: 1.5625rem 0;
  }

  .skillContainerBox__span {
    display: block;
    font-weight:500;
  }

  .projects {
    padding-top: 4.6875rem;
  }

  .projectContainer {
    display: grid;
    gap: 1.875rem;
  }
  
  .project {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 3px solid var(--clr-border);
    border-radius: 5px;
    background-color: var(--bg-body);
  }
  
  .project::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(100% - 7px);
    width: 7px;
    height: 100%;
    background-color: var(--clr-border);
  }

  .project--second::after {
    position: absolute;
    content: "";
    top: 0;
    left: -1px;
    width: 7px;
    height: 100%;
    background-color: var(--clr-border);
  }
  
  .projectContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5625rem;
  }
  
  .projectContent__span {
    display: block;
    font-size: var(--fs-projectsTitle-mobile);
    font-family: var(--ff-title);
    color: var(--clr-title);
    padding: 0 0.9375rem;
  }

  .projectContent__paragraph {
    padding: 0 0.9375rem;
    margin: 0;
  }
  
  .projectContentLanguages {
    display: flex;
    gap: 5px;
    padding: 0 0.9375rem;
  }

  .projectContentLanguages__img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
  }

  .projectContentLink {
    margin-left: 0.9375rem;
    align-self: flex-start;
    padding: 0.9375rem 2.1875rem;
    text-decoration: none;
    color: var(--clr-link);
    background-color: var(--bg-link);
    border: 3px solid var(--clr-border);
    border-radius: 5px;
    transition: .5s background-color , .5s color;
  }

  .projectContentLink__img {
    display: none;
  }

  .projectImg {
    position: relative;
    height: 18.75rem;
    overflow: hidden;
  }

  .projectImgText {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 0 15px;
    width: 100%;
    height: auto;
    background-color:transparent;
    opacity: 0;
    color: var(--clr-border);
    border-top: 3px solid var(--clr-border);
    border-left: 3px solid var(--clr-border);
    transition: .5s opacity , .5s background-color , .5s color;
  }

  .projectImgText.active {
    opacity: 1;
    background-color: var(--bg-link);
  }

  .projectImgText__paragraph {
    color: var(--clr-base);
  }

  .projectImg__img.active {
    transform: scale(1.15);
  }

  .projectImg__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 3px solid var(--clr-border);
    transition: transform .5s ease ;
  }

  .projects__more {
    display: block;
    margin: 0 auto;
    width: max-content;
    margin-top: 1.875rem;
    padding: 0.9375rem 2.1875rem;
    border: 3px solid var(--clr-border);
    color: var(--clr-link);
    text-decoration: none;
    background-color: var(--bg-link);
    transition: .5s background-color;
  }

  .contact {
    padding-top: 4.6875rem;
  }
  
  .contactContainer {
    position: relative;
    display: grid;
    gap: 1.875rem;
    border: 3px solid var(--clr-border);
    border-radius: 5px;
    padding: 1.5625rem 0.9375rem;
    background-color: var(--bg-body);
  }
  
  .contactContainer::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(100% - 7px);
    width: 7px;
    height: 100%;
    background-color: var(--clr-border);
  }
  
  .contactContainerContent {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  
  .contactContainerContent__title {
    font-size: var(--fs-contactTitle-mobile);
    margin: 0;
  }

  .contactContainerContent__paragraph {
    margin: 0;
  }
  
  .contactContainerContentLinks {
    display: flex;
    gap: 1.25rem;
  }
  
  .contactContainerContentLinksLink {
    min-width: 7.625rem;
    text-align: center;
    padding: 0.9375rem 1.5625rem;
    text-decoration: none;
    color: var(--clr-link);
    background-color: var(--bg-link);
    border: 3px solid var(--clr-border);
    border-radius: 5px;
    transition: .5s background-color , .5s color;
  }

  .contactContainerContentLinksLink__img {
    display: none;
  }
  
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--clr-border);
    border-radius: 5px;
  }

  .input {
    width: 100%;
    padding: 0.625rem 0.9375rem;
    border: none;
    border-bottom: 3px solid var(--clr-border);
    outline: none;
    caret-color: var(--bg-link);
    background-color: var(--bg-boxs);
    transition: .5s background-color;
  }

  .input:focus {
    background-color: var(--bg-boxsHover);
  }
  
  .input::placeholder {
    color: var(--clr-paragraph);
  }
  
  .textarea {
    width: 100%;
    height: 14.375rem;
    padding: 0.625rem 0.9375rem;
    border: none;
    outline: none;
    resize: vertical;
    caret-color: var(--bg-link);
    background-color: var(--bg-boxs);
    transition: .5s background-color;
  }

  .textarea:focus {
    background-color: var(--bg-boxsHover);
  }
  
  .textarea::placeholder {
    color: var(--clr-paragraph);
  }

  .form__send {
    position: absolute;
    bottom: 0;
    display: inline-block;
    align-self: flex-end;
    text-align: center;
    padding: 0.9375rem 2.1875rem;
    text-decoration: none;
    outline: none;
    border: none;
    border-top: 3px solid var(--clr-border);
    border-left: 3px solid var(--clr-border);
    border-top-left-radius: 5px;
    color: var(--clr-link);
    background-color: var(--bg-link);
    transition: .5s background-color , .5s color;
    cursor: pointer;
  }
  
  .footer {
    margin: 1.25rem 0;
    margin-top: 4.6875rem;
  }

  .footer.remove {
    display: block;
  }

  .footer.active {
    display: none;
  }

  .footerContainerBox {
    max-width: 90rem;
    display: grid;
    gap: 1.25rem;
    padding: var(--padding-mobile);
    margin: 0 auto;
  }
  
  .footerCopyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--clr-border);
    border-radius: 5px;
    background-color: var(--bg-body);
  }
  
  .footerCopyright__span {
    display: block;
    padding: 0 0.625rem;
    font-size: 0.875rem;
 }

  .footerCopyrightArrowLink {
    border-left: 3px solid var(--clr-border);
    transition: .5s background-color;
    background-color: var(--bg-link);
    fill: var(--clr-link);
  }

  .footerCopyrightArrowLink__img {
    display: block;
    transition: .5s fill;
  }

  @media screen and (min-width:48rem) {

    body {
      font-size: var(--fs-paragraph-tablet);
    }

    .subtitle {
      padding: 0.625rem 2.1875rem;
      margin-bottom: 2.1875rem;
      font-size: var(--fs-subtitle-tablet);
    }

    .subtitle::after {
      width: calc(100vw - 4.5625rem);
    }

    .headerContainer {
      padding: var(--padding-tablet);
    }

    .menuOpen.active {
      top: 3.5rem;
      height: calc(100vh - 3rem) ;
    }

    .menuOpenList__link {
      font-size: var(--fs-menuLink-tablet);
      padding-left: 2.1875rem;
    }

    .menuOpenCv {
      padding: 0 2.1875rem;
    }

    .menuOpenCv__link {
      font-size: var(--fs-menuLink-tablet);
    }

    .menuOpenDarkMode {
      padding: 0 2.1875rem;
    }

    .menuOpenDarkMode__link {
      font-size: var(--fs-menuLink-tablet);
    }

    .heroMoveTextContainer {
      margin-top: 6px;
    }

    .heroMoveTextContainer__span {
      font-size: var(--fs-marquee-tablet);
    }

    .main {
      padding: var(--padding-tablet);
    }

    .hero {
      height: calc(100vh - 3rem);
    }

    .heroMoveText {
      top: 3rem;
    }

    .heroContentLink {
      font-size: var(--fs-hero-tablet);
    }

    .about {
      padding-top: 6.25rem;
    }

    .aboutContainerInfoContent {
      padding: 0 1.5625rem;
      max-height:21.1331rem;
    }
    .aboutContainerInfoContent--short {
      overflow-y: visible; 
    }

    .aboutContainerInfoTitles__span {
      font-size: var(--fs-about-tablet);
    }

    .aboutContainerInfoSubtitles__span {
      font-size: var(--fs-about-tablet);
    }
    
    .aboutContainerLinksLink {
      font-size: var(--fs-about-tablet);
    }

    .skills {
      padding-top: 6.25rem;
    }

    .skillContainers {
      position: relative;
      display: grid;
      grid-template-columns: 50% 50%;
    }

    .skillContainers::after {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 3px;
      height: 100%;
      background-color: var(--clr-border);
    }

    .skillContainer__span--border {
      border-top: none
    }

    .skillContainer__span {
      font-size: var(--fs-skills-tablet);
    }

    .skillContainerBox__img {
      width: 3.75rem;
      height: 3.75rem;
      object-fit: cover;
    }

    .projects {
      padding-top: 6.25rem;
    }

    .projectContainer {
      gap: 2.1875rem;
    } 

    .project {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    .project--second {
      grid-template-areas: 
      "projectImg--second projectContent--second";
    }

    .projectImg {
      height: 23.7119rem;
    }

    .projectContentLanguages__img {
      width: 3.125rem;
      height: 3.125rem;
    }

    .projectContent__span {
      font-size: var(--fs-projectsTitle-tablet);
      padding: 0 1.5625rem;
    }

    .projectContentLanguages {
      padding: 0 1.5625rem;
    }
    
    .projectContentLink {
      margin-left: 1.5625rem;
    }

    .projectImg--second {
      grid-area: projectImg--second;
    }

    .projectContent--second {
      grid-area: projectContent--second;
    }

    .projectImg__img {
      border-left: 3px solid var(--clr-border);
      border-top: none;
    }

    .projectImg__img--second {
      border-left: none;
      border-right: 3px solid var(--clr-border);
    }

    .contact {
      padding-top: 6.25rem;
    }

    .contactContainer {
      grid-template-columns: 1fr 1fr;
      padding: 1.5625rem 1.5625rem;
    }

    .contactContainerContent__title {
      font-size: var(--fs-contactTitle-tablet);
    }

    .footerContainerBox {
      padding: var(--padding-tablet);
    }

    .footerCopyright__span {
      font-size: 1rem;
    }

  }

  @media screen and (min-width:64rem) {

    .subtitle {
      margin-bottom: 3.125rem;
      font-size: var(--fs-subtitle-portatil);
    }

    .subtitle::after {
      width: calc(100vw - 4.875rem);
    }

    .menuOpen.remove {
      display: none;
    }

    .menuOpen {
      display: none;
    }

    .hamburger {
      display: none;
    }

    .navContainer {
      display: flex;
      align-items: center;
      gap: 6.25rem;
    }

    .nav {
      display: block;
    }

    .navList {
      display: flex;
      list-style: none;
      gap: 1.875rem;
    }

    .navList__item {
      overflow: hidden;
    }
    
    .navList__link {
      position: relative;
      font-family: var(--ff-title);
      color: var(--clr-title);
      text-decoration: none;
    }

    .navList__link::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translate(0, -50%);
      left: calc(-100% - 1.875rem);
      width: 100%;
      height:3px;
      background-color: var(--clr-border);
      opacity: 0;
      overflow: hidden;
      transition: opacity .5s , left .5s;
    }

    .navList__link--about.active::after {
      width: 100%;
      left: 0;
      opacity: 1;
    }

    .navList__link--skills.active::after {
      width: 100%;
      left: 0;
      opacity: 1;
    }

    .navList__link--projects.active::after {
      width: 100%;
      left: 0;
      opacity: 1;
    }

    .navList__link--contact.active::after {
      width: 100%;
      left: 0;
      opacity: 1;
    }
   
    .darkMode {
      display: block;
    }

    .darkMode__img {
      fill: var(--fill-darkmode);
    }

    .hero {
      height: calc(100vh - 3.5431rem);
    }

    .heroMoveText {
      top: 3.5431rem;
    }

    .heroMoveTextContainer {
      margin-top: 3px;
    }

    .heroContainer {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 3.3056rem;
    }

    .heroContent {
      display: flex;
      flex-direction: column;
      gap: 2.1875rem;
      padding: 5rem 0 0 ;
    }

    .heroContent__title {
      font-size: var(--fs-title-tablet);
      padding-left: 1.875rem;
    }

    .heroContent__paragraph {
      font-size: var(--fs-paragraph-tablet);
      padding: 0 1.875rem;
    }

    .heroContent__blockquoteParagraph {
      font-size: var(--fs-quotes-tablet);
      padding: 0 1.875rem;
    }

    .heroContentLink {
      width: 100%;
      padding: 9px 0.9375rem;
      border: none;
      border-top: 3px solid var(--clr-border);
      height: 3.5rem;
      font-size: var(--fs-hero-portatilL);
    }

    .heroInformation {
      display: grid;
      grid-template-rows: auto 53px;
      position: relative;
      border-left: 3px solid var(--clr-border);
    }

    .heroInformationContent {
      opacity: 0.8;
      background-image: radial-gradient(#444cf7 0.8px, #e5e5f7 0.8px);
      background-size: 16px 16px;
    }

    .heroInformationSocialMedia {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: 3px solid var(--clr-border);
    }
    
    .heroInformationSocialMediaLink {
      position: relative;
      overflow: hidden;
      text-align: center;
      height: 3.3125rem;
      font-size: var(--fs-hero-tablet);
      text-decoration: none;
      font-weight: bold;
      color: var(--clr-paragraph);
      transition: .5s color , .5s background-color;
    }

    .heroInformationSocialMedia__link--border {
      border-right: 3px solid var(--clr-border);
    }

    .heroInformationSocialMediaLink__span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .heroInformationSocialMediaLink__img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto; 
      transform: translateY(100%);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; 
      transition: transform .2s;
    }

    .aboutBox {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: "aboutContainer aboutContainerInfo";
      border: 3px solid var(--clr-border);
      border-radius: 5px;
    }

    .aboutContainer {
      display: block;
      grid-area: aboutContainer;
    }

    .aboutContainerInfo {
      border-radius: 0px;
    }

    .aboutContainerInfoContent {
      max-height:22.8206rem;
    }

    .aboutContainerImg {
      display: grid;
      grid-template-rows: auto 3.3556rem;
      height: 100%;
    }

    .aboutContainerImg__img {
      height: 100%;
      object-fit: cover;
      border-bottom: 3px solid var(--clr-border);
    }

    .aboutContainerCv {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.25rem;
      padding: 0.9375rem 0;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      color: var(--clr-link);
      background-color: var(--bg-link);
      font-size: var(--fs-about-tablet);
      transition: .5s background-color , .5s color;
    }

    .aboutContainerCv__span {
      display: block;
      font-weight: bold;
    }

    .aboutContainerCv__img {
      display: block;
      animation: cvTransition infinite 1s linear;
      transform: scale(1);
      fill: var(--clr-link);
      transition: .5s fill;
    }

    @keyframes cvTransition {
      
      0% , 100% {
        transform: scale(.97);
      }

      50% {
        transform: scale(1);
      }

    }

    .aboutContainerInfo {
      grid-area: aboutContainerInfo;
      border-top: none;
      border-right: none;
      border-bottom: none;
    }

    .aboutContainerLinksLink {
      position: relative;
      overflow: hidden;
      padding: 0.9375rem 0;
      height: 3.3556rem;
    }

    .aboutContainerLinksLink__span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .aboutContainerLinksLink__img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto; 
      transform: translateY(100%);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; 
      transition: transform .2s;
    }

    .skillContainerBoxs {
      grid-template-columns: 1fr 1fr 1fr;
      gap:3.125rem;
      padding: 2.1875rem 0;
    }

    .skillContainer__span {
      font-size: var(--fs-skills-portatilL);
    }

    .skillContainerBox__img {
      width: 4.0625rem;
      height: 4.0625rem;
    }

    .projectContainer {
      gap: 3.125rem;
    } 

    .projectImg {
      height: 31.25rem;
    }

    .projectContentLanguages__img {
      width: 4.0625rem;
      height: 4.0625rem;
    }

    .projectContentLink {
      position: relative;
      overflow: hidden;
    }

    .projectContentLink__img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto; 
      transform: translateY(100%);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; 
      transition: transform .2s;
    }

    .contactContainer {
      height: 31.25rem;
    }

    .textarea {
      height: 22.2881rem;
    }

    .contactContainerContent {
      justify-content: center;
    }

    .contactContainerContentLinksLink {
      position: relative;
      overflow: hidden;
    }
  
    .contactContainerContentLinksLink__img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto; 
      transform: translateY(100%);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; 
      transition: transform .2s;
    }

  }

  @media screen and (min-width:90rem){

    body {
      font-size: var(--fs-paragraph-portatilL);
    }

    .subtitle {
      font-size: var(--fs-subtitle-portatilL);
    }

    .subtitle::after {
      width: calc(90rem - 4.5625rem);
    }

    .navContainer {
      gap: 9.375rem;
    }

    .navList {
      gap: 2.5rem;
    }

    .hero {
      height: calc(100vh - 4.3312rem);
    }

    .heroMoveText {
      top: 4.3312rem;
    }

    .heroContainer {
      margin-top: 3.5938rem;
    }

    .heroMoveTextContainer__span {
      font-size: var(--fs-marquee-portatilL);
    }
    
    .heroContent__title {
      font-size: var(--fs-title-portatilL);
    }

    .heroContent__paragraph {
      font-size: var(--fs-paragraph-portatilL);
    }

    .heroContent__blockquoteParagraph {
      font-size: var(--fs-quotes-portatilL);
    }

    .heroContentLink {
      height: 3.7862rem;
    }

    .heroInformation {
      grid-template-rows: auto 3.5987rem;
    }

    .heroInformationSocialMediaLink {
      height: 3.5987rem;
      font-size: var(--fs-hero-portatilL);
    }

    .aboutContainerImg {
      grid-template-rows: auto 3.5431rem;
    }

    .aboutContainerInfoContent {
      max-height: 26.5625rem;
    }

    .aboutContainerCv {
      font-size: var(--fs-about-portatilL);
    }

    .aboutContainerInfoTitles__span {
      font-size: var(--fs-about-portatilL);
    }

    .aboutContainerInfoSubtitles__span {
      font-size: var(--fs-about-portatilL);
    }
    
    .aboutContainerLinksLink {
      font-size: var(--fs-about-portatilL);
      height: 3.5431rem;
    }

    .skillContainers {
      height: 37.5rem;
    }

    .projectContent__span {
      font-size: var(--fs-projectsTitle-portatilL);
    }

    .projectImg {
      height: 37.5rem;
    }

    .contactContainer {
      height: 37.5rem;
    }

    .textarea {
      height: 27.75rem;
    }

    .contactContainerContent__title {
      font-size: var(--fs-contactTitle-portatilL);
    }

  }

  @media screen and (hover: hover) {

    .headerLink:hover {
      transform: rotate(5deg);
    }
  
    .headerLink:hover .headerLink__span {
      margin-right: 5px;
    }

    .navList__item:hover .navList__link::after{
      width: 100%;
      left: 0;
      opacity: 1;
    }

    .heroContentLink:hover {
      background-color: var(--bg-linkHover);
      color: var(--clr-linkHover);
    }

    .heroInformationSocialMediaLink:hover {
      color: transparent;
      background-color: var(--bg-linkHover);
    }

    .heroInformationSocialMediaLink:hover .heroInformationSocialMediaLink__img {
      transform: translateY(0);
    }

    .aboutContainerInfoSubtitles__span:hover {
      background-color: var(--bg-linkHover);
    }

    .aboutContainerLinksLink:hover {
      color: transparent;
      background-color: var(--bg-linkHover);
    }

    .aboutContainerCv:hover {
      background-color: var(--bg-linkHover);
      color: var(--clr-linkHover);
    }
    
    .aboutContainerLinksLink:hover .aboutContainerLinksLink__img {
      transform: translateY(0);
    }

    .aboutContainerCv:hover .aboutContainerCv__img {
      fill: var(--bg-link);
    }

    .projectImg:hover .projectImg__img {
      transform: scale(1.15);
    }

    .projectImg:hover .projectImgText{
      opacity: 1;
      color: var(--clr-base);
      /* color: red; */
      background-color: var(--bg-link);
    }

    .projectContentLink:hover {
      color: transparent;
      background-color: var(--bg-linkHover);
    }

    .projectContentLink:hover .projectContentLink__img {
      transform: translateY(0);
    }
    
    .contactContainerContentLinksLink:hover {
      color: transparent;
      background-color: var(--bg-linkHover);
    }

    .contactContainerContentLinksLink:hover .contactContainerContentLinksLink__img {
      transform: translateY(0);
    }

    .form__send:hover {
      background-color: var(--bg-linkHover);
      color: var(--clr-linkHover);
    }
    
    .footerCopyrightArrowLink:hover {
      background-color: var(--bg-linkHover);
    }

    .footerCopyrightArrowLink__img:hover {
      fill: var(--bg-link);
    }

  }


  /* LOADING SECTION
    <div class="spinner"></div>

<style>
.spinner {
   width: 88px;
   height: 88px;
   border-radius: 50%;
   color: #393989;
   background: linear-gradient(currentColor 0 0) center/100% 7px,
          linear-gradient(currentColor 0 0) center/7px 100%,
          radial-gradient(farthest-side,#0000 calc(100% - 10.6px),currentColor calc(100% - 8.8px)),
          radial-gradient(circle 10.6px,currentColor 94%,#0000 0);
   background-repeat: no-repeat;
   animation: spinner-mu2ebf 1s infinite linear;
   position: relative;
}

.spinner::before {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: inherit;
   background: inherit;
   transform: rotate(45deg);
}

@keyframes spinner-mu2ebf {
   to {
      transform: rotate(.5turn);
   }
}
</style>
  */
